@font-face {
    font-family: Roboto;
    src: url(Roboto-VariableFont_wdth\,wght.ttf);
}
html {
    background-color: #ff661a;
}

body {
        
    font-family: Roboto;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
}


h1 {
    color: #2c3e50;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

a:visited {
    font-weight: bold;
    color: white;
}